#buses {
    padding: 1em 0 0 2em;
}

#buses table {
    float: left;
    font-size: 1.75em;
    width: 95%;
    border-spacing: 0;
    padding: 1em 0 0 0;
    text-align: left;
}

#buses td {
    padding: 0 0 0.1em 0;
    border-bottom: 1px solid #ddd;
    font-size: 1em;
}

.busTime {
    text-align: right;
}

.nameColumn {
    text-align: center;
    font-size: 0.75em;
}
