html *,
html *:before,
html *:after {
    box-sizing: inherit;
}

body {
    background-color: #000000;
    color: #F8F8FF;
    font: 13px 'Open Sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#body {
    float: right;
    text-align: right;
}

#dateTime {
    float: right;
    font-size: 3em;
    margin: 0 0 0.5em 0;
}
