#temperature {
    float: right;
    width: 50%;
    margin: -0.15em 0 0 0;
    color: #F8F8FF;
    font-size: 100px;
    font-weight: 300;
}

#weatherDynamic {
    font-family: 'Open Sans', sans-serif;
    font-size: 3em;
}

#weather div {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6em;
    padding: 8px 0 16px 16px;
    display: inline-block;
}

#weather table {
    text-align: left;
    font-size: 2em;
    float: right;
}

#weather td {
    padding: .25em 0 0 .5em;
}

.low {
    opacity: 0.70;
}

#region {
    font-size: 5em;
}
